{% include 'doctor_header.html' %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/static/images/bg4.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1100px;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.464);
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #1d4563;
    }

    th {
        background-color: #1d4563;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* tr:nth-child(even) {
        background-color: #f9f9f9;
    } */

    .btn-info {
        background-color: #007bff;
        color: #fff;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
    }

    .btn-info:hover {
        background-color: #0056b3;
    }

    .no-data {
        text-align: center;
        color: #999;
    }

    footer {
        text-align: center;
        margin-top: 20px;
        color: #666;
    }
</style>

<div class="container">
    <h2>View Enquiry</h2>
    <table style="width: 1000px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Enquiry</th>
                <th>File</th>
                <th>Place</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Reply</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data['view'] %}
            <tr>
                <td>{{ i['firstname'] }}</td>
                <td>{{ i['enquiry'] }}</td>
                <td>
                    <a href="{{i['enquiry_file']}}" target="_blank">
                        <img src="{{i['enquiry_file']}}" style="width:100px;height:100px;" alt="">
                    </a>
                </td>
                <td>{{ i['place'] }}</td>
                <td>{{ i['phone'] }}</td>
                <td>{{ i['email'] }}</td>
                <td>{{ i['enq_reply'] }}</td>
                {% if i['enq_reply'] == "pending" %}
                <td><a href="/admin_send_reply?equiry_id={{ i['equiry_id'] }}" class="btn btn-info">Send Reply</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}
