<!-- {% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<script>alert("{{ message }}")</script>
		{% endfor %}
	{% endif %}
{% endwith %} -->
	<!-- footer -->
	<!-- <footer> -->
		<!-- <div class="w3ls-footer-grids pt-sm-4 pt-3">
			<div class="container py-xl-5 py-lg-3">
				<div class="row">
					<div class="col-md-4 w3l-footer">
						<h2 class="mb-sm-3 mb-2">
							<a href="index.html" class="text-white font-italic font-weight-bold">
								<span>Cancer Prediction</span> 
								<i class="fas fa-syringe ml-2"></i>
							</a>
						</h2>
						 <p>Dental Analizer the one way solution for getting details info about once dental problams.With our leading class technology and the with help of highly qualified doctors we provide solution to all your dental problems </p> -->
					<!-- </div> --> 
					<!-- <div class="col-md-4 w3l-footer my-md-0 my-4">
						<h3 class="mb-sm-3 mb-2 text-white">Address</h3>
						<ul class="list-unstyled">
							<li>
								<i class="fas fa-location-arrow float-left"></i>
								<p class="ml-4">TEETH
									<span>Chittoor Road,</span>Vaduthala,Ernamkulam. </p>
								<div class="clearfix"></div>
							</li>
							<li class="my-3">
								<i class="fas fa-phone float-left"></i>
								<p class="ml-4">2436654</p>
								<div class="clearfix"></div>
							</li>
							
						</ul>
					</div>
					
				</div> -->

				<!-- <div class="border-top mt-5 pt-lg-4 pt-3 pb-lg-0 pb-3 text-center">
					<p class="copy-right-grids mt-lg-1">© 2023 ALZHE_DETECT. All Rights Reserved | Design by
						<a href="https://maps.app.goo.gl/vwL1LdxWHyCGESeH8" target="_blank">THEETH</a> -->
					<!-- </p>
				</div>
			</div>
		</div>
	</footer> --> 
	<!-- //footer -->


	<!-- Js files -->
	<!-- JavaScript -->
	<!-- <script src="/static/js/jquery-2.2.3.min.js"></script> -->
	<!-- Default-JavaScript-File -->

	<!-- banner slider -->
	<!-- <script src="/static/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script> -->
	<!-- //banner slider -->

	<!-- fixed navigation -->
	<!-- <script src="/static/js/fixed-nav.js"></script> -->
	<!-- //fixed navigation -->

	<!-- smooth scrolling -->
	<!-- <script src="/static/js/SmoothScroll.min.js"></script> -->
	<!-- move-top -->
	<!-- <script src="/static/js/move-top.js"></script> -->
	<!-- easing -->
	<!-- <script src="/static/js/easing.js"></script> -->
	<!--  necessary snippets for few javascript files -->
	<!-- <script src="/static/js/medic.js"></script> -->

	<!-- <script src="/static/js/bootstrap.js"></script> -->
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- //Js files -->

<!-- </body>

</html> -->